@import "../../node_modules/bootstrap/scss/bootstrap";

.separator {
  display: flex;
  align-items: center;
  text-align: center;
}

.separator::before,
.separator::after {
  content: "";
  flex: 1;
  border-top: 1px solid currentColor;
}

.separator:not(:empty)::before {
  margin-right: 0.25em;
}
.separator:not(:empty)::after {
  margin-left: 0.25em;
}

#chat {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 25em;
  z-index: 1000;
  overflow-x: hidden;
}

#chat > input {
  width: 100%;
  height: 1.5em;
}

#chat > .messages {
  width: 100%;
  max-height: 13.5em;
  overflow-x: hidden;
  word-break: break-all;
  overflow-y: scroll;
  display: flex;
  flex-direction: column-reverse;
}

#chat > .messages > :first-child {
  margin-bottom: 0.2em;
}
